
  /*** ESTILOS BOTÓN SLIDE RIGHT ***/
.ov-btn-slide-right {
    background: #59c5ff59;
    padding: 0px 30px;
    border-radius: 20px;
    position: relative;
    height: 50px;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.ov-btn-slide-right::after {
    content: "";
    background:  #60c8ff; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 0px 30px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.ov-btn-slide-right:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
