@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
/*NAVBAR*/
#logo-nav{
    width: 152px;
    height: 90px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #38b6ff75!important;
}
#navbarNav{
    color: #3c3c3c;
    font-weight: bold;
    font-size: 22px;
}

.nav-link:hover{
    text-decoration-line: revert;
    color: #38B6FF!important;
    text-underline-position: under;
}

/*INICIO*/
header img {
    width: 100%;
    height: 490px;
}
.w-100 {
    width: 100%!important;
    height: 415px;
}

#itemOne-title{
    position: absolute;
    top: 14%;
    width: 45%;
    text-align: center;
    padding: 18px;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 3px;
    color: #ffffff;
}
#item-p {
    position: absolute;
    top: 48%;
    font-size: 30px;
    color: #3b77bd;
    left: 11%;
}

#item-button{
    position: absolute;
    top: 67%;
    left: 17%;
    background: white;
    padding: 6px;
    color: #545454;
    width: 165px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}






.container__Agendar-cita
{
    margin-top: 50px;
}
.container__Agendar-cita--titleImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__Agendar-cita--titleImg img{
    width: 100px;
}

.container__Agendar-cita--titleImg  h1{
    font-size: 55px;
    font-weight: bold;
    margin-left: 20px;
}

.container__Agendar-cita p{
    text-align: center;
    margin-top: 50px;
    font-size: 2.3rem;

}

.container__categorias--tips {
    background: #E6E9FF;
    padding: 40px;
    margin-top: 65px;
}

.grid.categorias{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    align-content: center;
    place-content: space-between;
}
.g-col-4 {
    width: 242px;
    margin-top: 30px;
    border: 3px solid #ababab;
    border-radius: 30px;
    padding: 20px;
    /* margin-left: 18px; */
}
.g-col-4 h2{
    text-align: center;
    font-weight: bold;
}
.g-col-4 img {
    width: 201px;
    height: 165px;
    margin-top: 20px;
    image-rendering: -webkit-optimize-contrast;
    padding-bottom: 20px;
}
.container__categorias--servicios  h1{
    text-align: center;
    margin-top: 40px;
    font-size: 4.3rem;
    color: #47525E;
    font-weight: bold;
}


.grid.categorias--servicios {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    margin-bottom: 85px;
    align-content: center;
    place-content: space-around;
}


.g-col-4.categorias--servicios
{
    width: 300px;
    text-align: center;
    height: 470px;
    margin-top: 60px;
    padding: 20px;
    border: 2px solid #ababab;
}

.btn.btn-secondary
{
    width: 135px;
}

.container__contacto{
    background: #96969624;
    padding: 25px;
}
.container__contacto h1 {
    font-size: 4rem;
    margin-top: 15px;
    color: #38B6FF;
    font-weight: bold;
    text-align: center;
}

.col.contacto h2{
    font-size: 1.8rem;
    margin-top: 30px;
}

.col.contacto p {
    font-size: 1.5rem;
    font-weight: bold;
}

.col.contacto img {
    width: 350px;
    margin-top: 19px;
    margin-left: 114px;
    border-radius: 170px;
}


/*SERVICIOS*/
.Servicios__contenedor--title{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.Servicios__contenedor--title h1{
    font-size: 71px;
    color: #ffffff;
    margin-left: 8%;
    background: #229ee2;
    width: 60%;
    border: 2px solid #0077ff;
    border-radius: 40px 0px 0px 40px;
    padding: 25px;
}

.Servicios__contenedor--title img {
    width: 485px;
    height: 370px;
    border-radius: 30%;
}

.Servicios p {
    font-size: 25px;
    padding: 27px;
}
.Servicios ul {
    list-style: none;
    background: #f7f7f7fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-bottom: 110px;
}
.Servicios li img {
    width: 330px;
    height: 330px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.Servicios li h3 {
    margin-bottom: 40px;
    width: max-content;
    padding: 5px;
    border-left: 15px solid #509fe3;
    margin-top: 20px;
}

.container-li-text {
    display: flex;
    flex-direction: column;
    align-items: unset;
}

@media screen and (max-width: 580px){
    /*inicio*/
    .col.contacto img {
        margin-left: 20px;
    }
    .grid.categorias , .Servicios ul{
        place-content: center;
    }

    /*servicios*/
    .Servicios__contenedor--title
    {
        flex-flow: column-reverse;
        align-items: center;
    }
    .Servicios__contenedor--title h1{
        margin-left: 10%;
        margin-top: 20px;
        width: 90%;
    }

}






















/* footer */

footer {
    display: flex;
    background-color: #c1c1c1;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
footer h2 > img{
    width: 185px;
    height: 100px;
}
 footer  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
 }

 footer li {
    padding: 0 10px;
}

footer li a {
    color: #000;
    text-decoration: none;
}

footer span {
    font-size: 22px;
    color: #21212194;
    font-weight: bold;
}

#img-footer {
    width: 30px;
    background-color: #5857fa;
    border-radius: 11px;
    transition: width 2s, height 2s, transform 2s;
}

#img-footer:hover{
    transform : scale(2);
}